
<div>
    <table>
        <tr>
            <th>Post Title</th>
            <td><input type="text" id='title'></td>
        </tr>
        <tr>
            <th>Post Content</th>
            <td><textarea id='content'></textarea></td>
        </tr>
        <tr><td><button onclick='post()'>Post to Blog</button></td></tr>
    </table>
</div>

{{#each posts}}
    <div class='post'>
        <div class="top">{{this.dataValues.title}}</div>
        <p>{{this.dataValues.contents}}</p>
        <br>
        <button onclick="edit({{this.dataValues.id}})">Edit</button>
        <button onclick="deletePost({{this.dataValues.id}})">Delete</button>
    </div>
{{/each}}